<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Detalle del Cliente</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Detalle del Cliente</h1>
        <hr>
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd th:text="${cliente.id}"></dd>

            <dt>Nombre</dt>
            <dd th:text="${cliente.nombre}"></dd>

            <dt>Apellido</dt>
            <dd th:text="${cliente.apellido}"></dd>

            <dt>Correo</dt>
            <dd th:text="${cliente.correo}"></dd>

            <dt>DUI</dt>
            <dd th:text="${cliente.dui}"></dd>

            <dt>Dirección</dt>
            <dd th:text="${cliente.direccion}"></dd>

            <dt>Teléfono</dt>
            <dd th:text="${cliente.telefono}"></dd>

            <dt>Sector</dt>
            <dd th:text="${cliente.sector.nombre}"></dd> <!-- Suponiendo que 'sector' es un objeto con 'nombre' -->


        </dl>
        <hr>
        <div class="text-center">
            <a th:href="@{/Cliente/edit/{id}(id=${cliente.id})}" class="btn btn-outline-info">Editar</a>
            <a th:href="@{/Cliente/remove/{id}(id=${cliente.id})}" class="btn btn-outline-danger">Eliminar</a>
            <a th:href="@{/Cliente}" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</div>
</body>
</html>
